* {
    box-sizing: border-box;
}
#searchform > * {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #CCC;
    width: 100%;
}
#searchform .flex-grid {
    display: flex;
    padding: 0;
}
.flex-grid > * {
    flex: 1;
    min-width: 5ch;
    padding: 0.5em;
    border: 1px solid #CCC;
}
#searchform label:hover,
#searchform input:hover,
#searchform select:hover {
    background-color: #EEE;
}


#editform {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2.5em;
    padding: 1em;
    background: white;
    overflow: auto;

    display: none;
}
#editform fieldset > label {
    display: block;
}
#editform input[type=date],
#editform input[type=text],
#editform input[type=url] {
    width: 100%;
}
#editform label[for] {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
#editform label[for] > input {
    align-self: baseline;
}

#editform label[for] input[type=radio] {
    flex-shrink: 0;
}
#editform label[for] input[type=text],
#editform label[for] input[type=date] {
    flex: 1;
}

body.editing-cookie {
    overflow: hidden;
}
.editing-cookie #editform {
    display: block;
}
.editing-cookie #footer-controls > button:not(.editbutton),
#footer-controls > button.editbutton {
    display: none;
}
.editing-cookie #footer-controls > button.editbutton {
    display: block;
}


table {
    border-collapse: collapse;
    white-space: pre-wrap;
    width: 100%;
}
.no-results {
    text-align: center;
    font-style: italic;
}
tbody tr {
    border-top: 1px solid #DDD;
}
tbody tr:hover {
    outline: 1px solid orange;
}
td:nth-child(1) /* name */,
td:nth-child(2) /* value */,
td:nth-child(3) /* domain */,
td:nth-child(4) /* path */ {
    word-break: break-all;
    min-width: 120px;
}
th:nth-child(even),
td:nth-child(even) {
    background-color: #EEE;
}
.cookie-removed td {
    opacity: 0.4;
}
.highlighted,
.highlighted td {
    background-color: #FFA;
}
.highlighted td:nth-child(even) {
    background-color: #FF6;
}

.footer-space {
    height: 3em;
}
#footer-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    background-clip: content-box;
    border: 0 none;
    border-top: 0.5em solid;
    border-image: linear-gradient(to bottom, transparent, white) 50;

    display: flex;
}
#footer-controls > button {
    flex: 1;
    margin: 0 1px 1px;
}
